.jumbo {
    background-image: url("../../img/header.jpeg") ;
    opacity: 0.5;
}
.jumbo > h1 {
    color: red;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    
}


.jumbo > p {
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
}